BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "PMW_PIN[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[19]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[20]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[21]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[22]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[23]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[24]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[25]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[26]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[27]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[28]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PMW_PIN[29]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[30]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[31]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[32]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[33]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[34]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[35]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[36]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[37]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[38]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[39]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[40]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[41]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[42]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[43]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[44]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[45]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[46]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[47]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[48]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[49]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[50]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[51]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[52]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[53]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[54]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[55]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[56]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[57]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[58]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[59]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[60]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[61]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[62]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[63]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[64]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[65]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[66]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[67]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[68]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[69]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[70]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[71]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[72]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[73]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[74]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[75]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[76]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[77]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[78]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[79]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[80]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[81]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[82]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[83]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[84]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[85]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[86]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[87]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[88]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[89]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[90]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[91]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[92]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[93]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[94]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PMW_PIN[95]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPI[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPI[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPI[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signal[11]" IO_TYPE=LVCMOS33 ;
